<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styleMain.css" type="text/css">
    <link rel="stylesheet" href="../styleAdmin.css" type="text/css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1><a href="/">LOGO</a></h1>
            <ul id="menu">
                <input type="checkbox" id="navi-flag">
                <label id="hamburger" for="navi-flag">
                    <div id="hbgdiv"><img src="../img/hamburger.png" alt=""></div>
                </label>
                <ul id="navimenu">
                    <li><a href="/user/logout">로그아웃</a></li>
                    <li><a href="/user/profile">마이페이지</a></li>
                    <li><a href="/board/list">게시판</a></li>
                    <li><a href="/admin/user">유저관리자페이지</a></li>
                    <li><a href="/admin/board">게시판관리자페이지</a></li>
                    <li><a href="/user/login">LOGIN</a></li>
                    <li><a href="/user/join">JOIN</a></li>
                </ul>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>