<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">LOGO</a></h1>
    <h2>프로필페이지</h2>
    <ul>
        <li>아이디 : {{userId}}</li>
        <li>이름 : {{userName}}</li>
        <li>성별 : {{gender}}</li>
        <li>전화번호 : {{number}}</li>
        <li>핸드폰번호 : {{phoneNumber}}</li>
    </ul>
    <a href="/">메인으로 돌아가기</a>
</body>
</html>