@font-face {
    font-family: "FONT";
    src: url(./fonts/DungGeunMo.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FONT;
}

ul, li {list-style: none;}
a {text-decoration: none;}

#wrap {
    width: 100vw;
    height: 100vh;
    background: #000084;
    
    /* overflow: hidden; */
}

#header {
    width: 100%;
    height: 100px;
    padding: 40px 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: #000084;
    z-index: 3;
}

#header.background {
    border-bottom: 2px solid #ffffff;
}

#header > h1 > a {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

#header > #menu > #navi-flag {
    display: none;
}

#hbgdiv {
    background-color: #000084;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

#hbgdiv > img {
    width: 30px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#navi-flag + #hamburger + #navimenu {
    /* display: none; */
    opacity: 0;
    background: #000084;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position:fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: all ease 1s 0s;
    padding: 100px 15vw;
}

/* 
#navi-flag:checked + #hamburger + #navimenu {
    display: flex;
    position:absolute;
    top:20px;
    left:0;
    width: 100vw;
    height: 100vh;
    background: #9A161F;
    flex-direction: column;
    align-items: flex-start;
    
    z-index: 2;
}
 */

 #navi-flag:checked + #hamburger + #navimenu {
    display: flex;
    
    opacity:1;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(100px);
    
 }



#navimenu > li {
    padding: 10px 0;
}

#navimenu > li > a {
    font-size: 60px;
    color: #ffffff;

    
}

#navimenu > li > a:hover {
    border-bottom: 5px solid #ffffff;
}



#main-content {
    height: 100vh;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: #000084;
    
}

#main-content > #slideDiv {
    width: 70vw;
    height: 50vh;
    background-color: #ffffff;
    border: 5px solid #888888;
    box-shadow: 10px 10px #444444;
    padding: 15px;
}