<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styleMain.css" type="text/css">
    <link rel="stylesheet" href="../styleBoard.css" type="text/css">
    <script defer src="../script.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1><a href="/">LOGO<div id="logotr"></div></a></h1>
            <ul id="menu">
                <input type="checkbox" id="navi-flag">
                <label id="hamburger" for="navi-flag">
                    <div id="hbgdiv"><img src="../img/icon.svg" alt=""></div>
                </label>
                <ul id="navimenu">
                    {% if checkLogin %}
                    <li><a href="/user/logout">LOGOUT</a></li>
                    <li><a href="/user/profile">MY PAGE</a></li>
                    <li><a href="/board/list?p=1">BOARD</a></li>
                    <li><a href="/admin/user">ADMIN-USER</a></li>
                    <li><a href="/admin/board">ADMIN-BOARD</a></li>
                    {% else %}
                    <li><a href="/user/login">LOGIN</a></li>
                    <li><a href="/user/join">JOIN</a></li>
                    {% endif %}
                </ul>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>