{% extends "./_layout.html" %}
{% block content %}
<div id="list-content">
    <h2><a href="/board/list">게시판</a></h2>
    <table>
        <tr class="title">
            <td class="idx">{{item.idx}}</td>
            <td class="'subject">{{item.subject}}</td>
            <td class="nickname">{{item.nickname}}</td>
            <td class="date">{{item.date}}</td>
            <td class="hit">{{item.hit}}</td>
        </tr>
    </table>

    <div id="view">
        <p>{{item.content}}</p>
    </div>
    <a class="btn" href="/board/list">목록가기</a>
    {% if checkUser %}
    <a class="btn" href="/board/update?idx={{item.idx}}">글 수정</a>
    
    <form method="post" action="/board/delete">
        <input type="hidden" name="idx" value="{{idx}}">
        <input class="btn" type="submit" value="삭제">
    </form>
    {% endif %}
</div>
{% endblock %}